
* {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 0;
}

/* Style the Header/Score sectoion */

.container {
    display: flex;
}

#gameArea {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: 1fr 2fr 6fr 2fr;
}

h1.hero {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

.heroText {
    width: 100vw;
    padding: 1vh 0;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.heroText > p {
    text-align: center;
    line-height: 2rem;
}

.scoreKeeping {
    padding: 1vh 0;
    background-color: #36454f97;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.block {
    text-align: center;
    min-width: 25vw;
    text-transform: uppercase;
}

.score {
    font-size: 3rem;
    font-weight: 900;
}

.tagline {
    font-size: 1.5rem;
    letter-spacing: .15rem;
}

/* Style the "Action" section */
.action {
    width: 100vw;
    min-height: 25vh;
    padding: 1vh 0;
    display: grid;
    grid-row: 100%;
    grid-template-columns: 2fr 1fr 2fr;
}

.action > .container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

#vs {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

/* Style the PlayerInput section */
.playerInput {
    width: 100vw;
    min-height: 15vh;
    padding: 1vh 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #36454f97;
}

.playerInput > button {
    display: flex;
    flex-direction: column;
    height: 70%;
    min-height: 10vh;
    width: 25vw;
    font-size: 2.5rem;
    line-height: 1.5rem;
    align-items: center;
    justify-content: center;
}

button > #label {
    font-size: 1rem;
}
/* Style the EndGame section */

.endstate {
    position: absolute;
    display: flex;
    visibility: hidden;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .95);
    justify-content: center;
    align-items: center;
}

.endstate > .mainContainer {
    display: flex;
    flex-direction: column;
    opacity: .95;
    background-color: rgba(0, 0, 0, 1);
    padding: 1.5rem;
    text-align: center;
    color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 25px 12px #7abc2a;
}

.mainContainer > .scoreKeeping {
    width: 100%;
    background: none;
    margin: 2.75rem 0;
}

.endScreen {
    visibility: visible;
}
/* STREATCH Style the PlayerInput section */

.winRound {
    border: none;
    box-shadow: inset 0 0 50px 10px green;
}

.loseRound {
    border: none;
    box-shadow: inset 0 0 50px 10px red;
}

.testContent {
    text-align: center;
}

.redText {
    color: red;
}

.blueText {
    color: green;
}